/* מתחילים עם איפוס עיצוב */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}

/* I used the " CSS Grid Generator" to create the Body of the Landing Page */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2fr 1fr 1.5fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
}

.main {
    grid-area: 2 / 1 / 5 / 6;
}

.footer {
    grid-area: 5 / 1 / 6 / 6;
}

/* עיצוב עבור טלפונים ניידים */
@media (max-width: 600px) {

    /* הבר העליון עם הלוגו מיושר לימין כי האתר בעברית ועם צבע שנע מלבן מהתחתית שלו ליותר אפור לקצה העליון שלו */
    header {
        background: linear-gradient(rgb(224, 224, 224), rgb(255, 255, 255));
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
    }

    #logo {
        height: 50px;
        margin: auto 20%;
    }

    /* תמונת הרקע הגדולה מאחורי כל המקטעים */
    main {
        background-image: url(../img/superman-the-animated-series.jpg);
        background-size: contain;
    }

    .callToAction {
        background-color: rgb(0, 163, 232, 0.90);
        color: white !important;
    }

    .callToAction p {
        margin-top: 20px;
    }

    .callToAction,
    .testimonials {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        overflow: auto;
        flex-direction: column;
    }

    .mainHeadline {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .mainHeadline h1 {
        margin-top: 50px;
        text-align: center;
    }

    .mainHeadline h2 {
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;

    }

    #callnow {
        width: 100%;
        height: 50px;
        background-color: #ffa631;
        border: solid 0px #000;
        color: #fff;
        font-size: 1.6rem;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1.2px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    #callnowlogo {
        width: 40px;
        height: 40px;
    }

    .callnowborder {
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        margin-top: 20px;
    }


    .contactForm {
        background-color: rgb(103, 198, 253, 0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 50px;
    }

    .contactForm h2 {
        margin-bottom: 10px;
    }

    .contactForm p {
        font-size: 0.7rem;
    }

    #name,
    #email,
    #phone {
        height: 50px;
        width: 100%;
        margin: 5px;
        padding: 5px;
        border: solid 1px #cccccc;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;

    }

    #help {
        width: 100%;
        height: 50px;
        background-color: #ffa631;
        border: solid 0px #000;
        color: #fff;
        font-size: 2rem;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        margin-top: 10px;
        cursor: pointer;
    }

    #help:hover {
        background-color: rgb(255, 0, 0)
    }

    .mainAdvantage,
    .specialOffer,
    .aboutYourBusiness {
        display: flex;
        flex: 22.5%;
        margin: 30px;
        justify-content: center;
        flex-direction: column;
        text-align: right;
    }

    .testimonials {
        background-color: white;
    }

    .testimonials img {
        width: 80px;
        height: 80px;
    }

    .testimonials p {
        margin-top: 10px;
    }

    .about {
        background-color: rgb(224, 224, 224, 0.90);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .about p {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        text-align: center;
        justify-content: center;
    }

    #aboutImg {
        border-radius: 50%;
        width: 100px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .border {
        width: 120px;
        height: 2px;
        background-color: #6d6d6d;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #CEO {
        margin-bottom: 30px;
    }

    footer {
        display: flex;
        justify-content: center;
        margin: 6px 0;
        height: 30px;
    }

    #copyright {
        list-style: none;
        height: 30px;
        line-height: 40px;
        margin: 0 6px;
        color: #6d6d6d;
        font-size: 0.8rem;
    }

    .footerMenu {
        display: none;
    }

}

/* עיצוב עבור מחשבים ניידים ונייחים - משמע מסכים גדולים */
@media (min-width: 1025px) {

    body {
        color: #6d6d6d;
        font-size: em;
    }

    /* הבר העליון עם הלוגו מיושר לימין כי האתר בעברית ועם צבע שנע מלבן מהתחתית שלו ליותר אפור לקצה העליון שלו */
    header {
        background: linear-gradient(rgb(224, 224, 224), rgb(255, 255, 255));
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: right;
    }

    #logo {
        height: 50px;
        margin: auto 20%;
    }

    /* תמונת הרקע הגדולה מאחורי כל המקטעים */
    main {
        background-image: url(../img/superman-the-animated-series.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .callToAction {
        background-color: rgb(0, 163, 232, 0.90);
        height: 60vh;
        color: white !important;
    }

    .callToAction p {
        margin-top: 20px;
    }

    .callToAction,
    .testimonials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mainHeadline {
        display: flex;
        flex-direction: column;
        max-width: 30%;
        padding: 40px;
    }

    .mainHeadline h1 {
        margin-top: 50px;
    }

    .mainHeadline h2 {
        margin-bottom: 25px;
        margin-top: 10px;
    }

    #callnow {
        display: none;
    }

    .contactForm {
        background-color: rgb(103, 198, 253, 0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 20%;
        padding: 20px;
        margin: 50px;
    }

    .contactForm h2 {
        margin-bottom: 10px;
    }

    .contactForm p {
        font-size: 0.7rem;
    }

    #name,
    #email,
    #phone {
        height: 50px;
        width: 100%;
        margin: 5px;
        padding: 5px;
        border: solid 1px #cccccc;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;

    }

    #help {
        width: 100%;
        height: 50px;
        background-color: #ffa631;
        border: solid 0px #000;
        color: #fff;
        font-size: 2rem;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    #help:hover {
        background-color: rgb(255, 0, 0)
        }

    .mainAdvantage,
    .specialOffer,
    .aboutYourBusiness {
        display: flex;
        flex: 22.5%;
        max-width: 15%;
        margin: 30px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .testimonials {
        background-color: white;
        height: 40vh;

    }

    .testimonials img {
        width: 80px;
        height: 80px;
        margin: auto auto;
    }

    .testimonials p {
        min-height: 50%;
        margin-top: 10px;
    }

    .about {
        background-color: rgb(224, 224, 224, 0.90);
        height: 40vh;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .about p {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        text-align: center;
        justify-content: center;
    }

    #aboutImg {
        border-radius: 50%;
        width: 100px;
        margin: auto;
        margin-bottom: 20px;
    }

    .border {
        width: 120px;
        height: 2px;
        background-color: #6d6d6d;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    footer {
        display: flex;
        justify-content: center;
        margin: 6px 0;
        height: 40px;
    }

    footer ul {
        display: flex;
        line-height: 40px;
    }

    footer li {
        list-style: none;
        height: 40px;
        line-height: 40px;
        margin: 0 6px;
        color: #6d6d6d;
    }

    footer li a {
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        color: #6d6d6d;
    }

}